h1 {
	font-size:50px;
	text-align: center;
	border-bottom:1px solid gray;
	margin:0;
	padding:20px;
	}
#manu {
	display:grid;
	text-align: center;
	grid-template-columns:1fr 1fr 1fr 1fr;
	border-bottom:1px solid gray;
	border-top:1px solid gray;
	padding:10px;
	}
#submenu {
	border-right:1px solid gray;
	padding:20px;
	}
#body {
	display:grid;
	grid-template-columns:200px 1fr;
}
#script {
	padding:20px;
}
@media(max-width:800px) {
	#body {
		display:block;
	}
	#submenu {
		display:block;
	}
}